<%- include('partials/header'); %>

<div class="container">
	<h2 style="margin-top:4em; color: #43a047; font-family: 'Rye', cursive;">
		Latest Updates
	</h2>
	<% if(currentUser) {%>
	<p id="addStories"> <a href="/latestUpdates/new" class="btn btn-success">ADD NEW UPDATES</a></p><% } %>
	<div class="row">
		<% //update.forEach(function(add){ %>
		<% for(var i= update.length -1; i>=0;i--){ %>
		<div class="col-md-4">
			<div class="img-thumbnail" >
			<div class="embed-responsive embed-responsive-16by9">
  <img class="embed-responsive-item" src="data:image/<%=update[i].img.contentType%>;base64, 
                     <%=update[i].img.data.toString('base64')%>" allowfullscreen>
				</div>
				<div >
				<h3>
					<%= update[i].name %> 
					</h3></div>
				<p>
					<%= update[i].description %>
				</p>
				<a href="/latestUpdates/<%= update[i]._id %>">See more >></a>
				<% if(currentUser) {%>
				<div >
				 <form id="delete" action="/latestUpdates/<%= update[i]._id %>?_method=DELETE" method="POST">
		<button class="btn btn-danger">
			Delete
		</button>
		 </form>
				</div>  <% }%>
			</div></div>
		
		<% } %>
	</div>
</div>
<%- include('partials/footer'); %>